body {
background: linear-gradient(white,teal);
background-repeat: no-repeat;
height: 300px;
}    
#chart div{
    width: 15px;
    background: linear-gradient(red,blue);
    margin:2px;
    border-radius: 5px;
}
#chart{
    display: flex;
    margin:25px;
}