.test{
    text-align: center;
    width: 200px;
    margin: 25px auto;
    background-color: black;
    padding: 20px;
}
button{
    margin-top : 5px;
}
input::placeholder{
    text-align: center;
}
#result{
    color: white;
}